@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rosalia;
  src: url(/Rosalia.otf);
}

.rosalia {
  font-family: rosalia;
}

html {
  scroll-behavior: smooth;
}
